<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Stores' } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <div data-hook="admin_product_form_stores" class="form-group">
    <% Spree::Store.all.each do |store| %>
      <div class="checkbox">
        <%= f.label "store_ids_#{store.id}" do %>
          <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store), id: "product_store_ids_#{store.id}" %>
          <%= store.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
